{% if fastFilters %}
	<div class="fast_filters">
		{% for fastFilter in fastFilters %}
			<div class="fast_filter">
				<a href="/catalog/{{fastFilter.alias}}/">{{fastFilter.name}}</a><span>{{fastFilter.count}}</span>
			</div>
		{% endfor %}
	</div>
{% endif %}
