<div class="form_wrapper">
    <div class="form_close" data-close-popup>
    </div>

    <div class="form_main">
        <div class="map">
            <div class="map_data_wrap">
                <div class="map_data">
                    <div class="map_img_wrap">
                        <img loading="lazy" class="map_img" src="">
                    </div>
                    <a href="" class="map_rest_name"></a>
                    <p class="map_rest_address"></p>
                    <p class="map_close">Спасибо, закрыть</p>
                </div>
            </div>
            <div id="map" data-mapdotx="" data-mapdoty="" data-balloon="" data-hint=""></div>
        </div>
    </div>

</div>
