footer{
    font-size: 14px;
    //border-top: 1px solid rgba(176,176,176, .25);
    position: relative;
    z-index: 10;
    //margin: 0px 35px;
    background-color: $clrBackground;
    &.__bgWhite{
        background: #fff;
    }
    @include for-small-desktop{
        margin: 0;
    }

    @include for-pad{
        padding: 0 15px;
    }

    @include for-mobile{
        padding: 0 15px;
    }
    .footer_ph{
        color: $clrBlack;
    }
    .footer_wrap{
        padding: 32px 40px;

        @include for-small-desktop{
            padding: 32px 20px;
        }

        @include for-pad{
            padding: 32px 12px;
        }

        @include for-phone{
            padding: 24px 12px;
        }

        .footer_row{
            display: flex;
            justify-content: space-between;
            //align-items: center;

            @include for-pad{
                flex-direction: column-reverse;
            }
            @include for-mobile{
                flex-direction: column-reverse;
            }

            .footer_block{

                &._left{
                    display: flex;
                    //align-items: center;
                    @media (max-width: 760px) {
                        height: 240px;
                    }
                    @media (max-width: 490px) {
                        height: 320px;
                    }
                }

                .footer_pc{
                    border-bottom: 1px solid $clrLinkBorder !important;
                }

                &._right{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 24px;
                    text-align: right;
                    color: #1A2824;

                    @include for-pad{
                        align-items: center;
                        margin-bottom: 20px;
                        position: absolute;
                        top: 65px;
                    }

                    @include for-mobile{
                        align-items: center;
                        margin-bottom: 20px;
                        position: absolute;
                        top: 65px;
                    }
                }

                .footer_logo{
                    margin-right: 12px;

                   @include for-pad{ 
                        margin-right: 0;
                   }

                    @include for-mobile{
                        margin-right: 0;
                    }

                    .footer_logo_img {
                        width: 26.28px;
                        height: 36px;
                        object-fit: cover;
                        //background-image: url("/upload/img/logo.svg");
                        //background-repeat: no-repeat;
                        //background-size: 100%;
                    }
                }
                .footer_logo_2{
                    margin-right: 22px;
                    padding-top: 7px;
                    @include for-pad{ 
                        margin-left: 10px;
                   }
                    @include for-mobile{
                       margin-left: 10px;
                    }
                }
                .footer_logo_text{
                    font-size: 18px;
                    font-weight: 300;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    font-family: 'Proxima Nova Thin', sans-serif;
                    color: #000;
                    @include for-pad{
                        width: 125px;
                    }
                    @include for-mobile{
                        width: 125px;
                    }
                }

                .footer_info{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;

                    @include for-notdesc{
                        position: absolute;
                        top: 75px;
                        text-align: left;
                   }

                }

                .footer_phone{                       
                    padding: 0px 0px 0px 25px;
                    background-image: url(/upload/img/phone_icon.svg);
                    background-position: 0px 50%;
                    background-repeat: no-repeat;
                    margin-bottom: 6px;

                    p{
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 29px;

                        @include for-pad{ 
                            font-size: 20px;
                            line-height: 24px;
                       }

                        @include for-mobile{
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                }

                .footer_phone_button{
                    text-align: right;
                    margin-top: -2px;
                    width: fit-content;
                    cursor: pointer;
                    padding: 0px 0px 0px 30px;
                    position: relative;

                    &:after,
                    &:before{
                        content: '';
                        position: absolute;
                        top: 4px;
                        left: 0px;
                        width: 17px;
                        height: 17px;
                        border: 2px solid $clrPagination;
                        border-radius: 50%;
                    }

                    &:before{
                        left: 9px;
                    }

                    & > p{
                        display: inline;
                        text-align: right;
                        line-height: 25px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .footer_nav{
        margin-left: 78px;

        @media (max-width: 760px) {
            margin-left: 0;
            position: absolute;
            top: 148px;
        }
        .footer_nav_wrap{
            margin: 0 !important;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            row-gap: 14px;
            ul {
                list-style: none;
            }
            .footer_nav_wrap-el{
                margin-right: 26px;
                @include for-notdesc{
                    margin-right: 8px;
                }
                .footer_nav_wrap-title{
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: #1A2824;
                    margin-bottom: 8px;
                }
                .footer_nav_wrap-sub{
                    margin: 4px 0;
                    .footer_nav_wrap-sub_el{
                        margin: 0 26px 8px 0;
                        a{
                            color: $clrGrey;
                            border-bottom: 1px solid $clrLinkBorder;
                            &:hover{
                                border-bottom: none;
                            }
                        }
                    }
                }

                .footer_nav_wrap-sub._columns-2{
                    columns: 2;
                    .footer_nav_wrap-sub_el{
                        margin: 0 12px 8px 0;
                    }
                    @media (max-width: 490px) {
                        columns: 3;
                    }
                }

            }

            .footer_nav_wrap-el:last-child{
                margin-right: 0;
            }
        }
    }


}
