[data-page-type="item"] {

  .form_title_main {
    font-size: 30px;
  }
  .map {
    margin: 40px 0 0;
  }

  .rest_rooms_wrap {
    background-color: #ffff;
  }

  .item_additional-premium {
	display: flex;
	align-items: center;
	width: 60px;
	height: 22px;
	background-color: #fff;
	background-image: url(/upload/img/pro_star.svg);
	background-repeat: no-repeat;
	background-position: 6px 2px;
	border: 1px solid #ffc368;
	border-radius: 2px;
	font-family: GothamPro,Montserrat,sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	padding-left: 24px;
	margin: 12px auto;
  }
}

.object_head {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: calc(100% - 450px);
  position: relative;
  min-height: 472px;
  margin-top: 27px;
}

.object_gallery {
  width: 710px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.object_meta {
  display: flex;
  flex-wrap: wrap;
  //width: calc(50vw - 200px);
  height: 100px;
  justify-content: space-between;
  padding: 0 100px 0 40px;
  width: 100%;

  @include for-small-desktop {
    padding-right: 40px;
    // justify-content: left;
  }
  @include for-pad {
    padding: 0 16px;
    // justify-content: left;
    height: auto;
  }
  @include for-phone {
    padding: 0 12px;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
  }

  .object_meta_block {
    display: flex;
  }

  .object_meta_item {
    display: flex;
    flex-direction: column;
    @include for-small-desktop {
      margin-right: 20px;
    }
    @include for-pad {
      margin-right: 32px;
      .object_book_hidden {
        display: flex;
        align-items: baseline;
      }
      .object_book_hidden_button {
        height: 24px;
      }
    }

    &:last-child {
      margin-right: 0px;
      @include for-phone {
        margin-top: 8px;
      }
    }

    .object_meta_title {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      @include for-phone {
        font-weight: 600;
      }
    }

    .object_meta_value {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }
  }

  .object_meta_item_btn {
    @include for-notdesc {
      flex: 1 0 100%;
    }

    .rest_order_btn {
      // margin-left: 24px;

      background: linear-gradient(0deg, #FFC24A, #FFC24A), linear-gradient(0deg, #B1C86F, #B1C86F), linear-gradient(0deg, #D64582, #D64582), linear-gradient(97.87deg, #A70C72 -6.24%, #E50799 104.4%), #29EDB2;
      border-radius: 4px !important;
      padding: 9px 48px 11px !important;
      @include for-notdesc {
        // margin-left: 0;
      }
    }
  }


}

.object_book {
  background: white;
  padding: 15px 20px 25px;

  .object_book_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

  .object_book_action {
    margin-top: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding-left: 43px;
    background-image: url(/upload/img/gift_icon.svg);
    background-position: 0px 50%;
    background-size: 30px;
    background-repeat: no-repeat;
    min-height: 37px;
  }
}

.object_book_hidden {
  //margin-top: 6px;
  //display: flex;
  //align-items: flex-end;

  &._active {
    .object_book_phone {
      .object_fake_phone {
        display: none;
      }

      .object_real_phone {
        display: block;
      }
    }

    .object_book_hidden_button {
      display: none;
    }
  }

  .object_book_phone {
    margin-right: 11px;

    .object_fake_phone {
      position: relative;
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }

    .object_real_phone {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      color: #1A2824;
    }
  }

  .object_book_hidden_button {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $clrBlue;
    border-bottom: 1px dashed $clrBlue;
    //margin: 0px 0px 2px;
    cursor: pointer;
    width: max-content;
  }
}

.object_parameters {
  .object_parameters_list {
    margin-top: 20px;

    .object_parameters_title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .object_parameters_item {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
    }

    &._marked {
      .object_parameters_item {
        padding-left: 20px;
        background-image: url(/upload/img/list_pin.svg);
        background-position: 0px 6px;
        background-size: 12px;
        background-repeat: no-repeat;
      }
    }
  }
}

.object_desc_wrap {
  display: flex;
  height: 540px;

  .room_desc_item {
    .room_price {
      flex-direction: row;
      column-gap: 26px;

      @include for-phone {
        display: none;
      }
    }

    .room_desc_title {
      margin: 0px;

      @include for-phone {
        display: none;
      }
    }
  }

  &.content_block {
    margin-top: 32px;
    @include for-pad {
      height: auto;
      flex-direction: column;
      margin-top: 0;
      width: 100%;
    }
    @include for-mobile {
      height: auto;
      flex-direction: column;
      margin-top: 0;
      width: 100%;
    }
  }

  p {
    color: #1a2824;
  }

  .object_meta._mobile {
    display: none;
    margin-top: 16px;

    .room_price_banket_info {
      flex-direction: row;
      column-gap: 16px;
    }

    .object_meta_item:last-child {
      margin-top: 0;
    }
  }

  @include for-phone {
    .object_meta._mobile {
      display: flex;
    }
    .object_contacts {
      display: none;
    }
  }
}

.object_desc {
  width: 50%;
  padding: 24px;
  border: 1px solid #dedede;
  @include for-pad {
    width: 100%;
    border: none;
    padding: 24px 12px;
  }
  @include for-mobile {
    width: 100%;
    border: none;
    padding: 24px 12px;
  }

  p {
    margin: 16px 0;
    @include for-small-desktop {
      margin: 12px 0;
    }
  }
  .object_desc_item {
    align-items: flex-end;

    .object_desc_title{
      position: relative;
      align-self: flex-start;
    }

    .object_desc_value {
      width: 50%;
      display: flex;
      align-self: flex-end;
    }

  }

}

.object_desc_item {
  display: flex;
  justify-content: space-between;
  position: relative;
  @include for-phone {
    align-items: flex-end;
  }

  .dots {
    width: 15vw;
    height: 4px;
    position: absolute;
    bottom: 3px;
    background-repeat: repeat-x;
    margin-left: 3px;
    border-bottom: 2px dotted rgba(132, 132, 132, .5);

    @media (max-width: 1440px) {
      width: 20vw;
    }
    @include for-notdesc {
      width: 60vw;
    }

  }
}

.object_desc_title {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #1a2824;
  display: inline-block;
  z-index: 2;
  background: #fff;
  padding-right: 3px;
  @include for-mobile {
    max-width: 43%;
  }
}

.object_desc_value {
  color: #1a2824;
  min-width: 50%;
  display: inline-block;
  z-index: 2;
  background: #fff;
  font-size: 15px;
  line-height: 24px;
  padding-left: 5px;
  @include for-small-desktop {
    min-width: 37%;
  }
  @include for-pad {
    min-width: 60%;
  }
  @include for-mobile {
    min-width: 55%;
  }

  &.object_desc_address {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3067F3;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 6px;
    text-decoration-color: rgba(48, 103, 243, .3);

    &:hover {
      border-color: #3067f3;
    }
  }
}

.object_contacts {
  width: 50%;
  padding: 24px 0 0 0;
  background-color: $clrBackground;
  border: 1px solid #dedede;

  .object_fake_phone {
    border-bottom: 1px dashed #1A2824;
    cursor: pointer;

    @include for-mobile {
      white-space: nowrap;
    }
  }

  .blur_phone {
    width: 78px;
    right: -5px;
  }

  @include for-pad {
    width: 98%;
    margin: 0 12px;
  }
  @include for-mobile {
    width: 98%;
    margin: 0 12px;
  }
  @include for-phone {
    border: none;
    padding: 16px 0 0 0;
  }
}

.same_objects {
  width: 100%;
  padding: 24px;

  &.content_block {
    margin-bottom: 64px;
    @include for-phone {
      width: 100%;
      padding: 0 12px;
      margin-bottom: 0;
    }
  }

  h2 {
    margin: 48px auto 24px;
  }
}

.same_object {
  box-shadow: 0px 5px 20px rgba(34, 36, 28, 0.1);
  border-radius: 4px;
  display: flex;
  padding: 24px;
  margin-bottom: 24px;
  @include for-phone {
    flex-direction: column;
    padding: 12px;
  }
}

.same_object_img {
  display: flex;
  width: 70%;
  justify-content: space-between;

  @include for-pad {
    justify-content: left;
    width: 496px;
  }
  @include for-mobile {
    justify-content: left;
    width: 248px;
  }
  @include for-phone {
    width: 100%;
  }
}

//.same_object-meta{
//  @include for-mobile {
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: space-between;
//  }
//}

.same_object_img_item {
  width: 100%;
  height: 242px;
  margin-right: 8px;
  position: relative;
  overflow: hidden;
  @include for-pad {
    width: 248px;
    &:nth-child(2) {
      display: none;
    }
  }
  @include for-mobile {
    width: 248px;
    height: 166px;
    margin-right: 0;
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
  }
  @include for-phone {
    width: 100%;
    height: 208px;
  }

  img {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.same_object_desc {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 24px;
  .item_btn{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .item_btn-book{
      width: 100%;
      min-width: 150px;
      height: 40px;
      background: linear-gradient(0deg,#ffc24a,#ffc24a),linear-gradient(0deg,#b1c86f,#b1c86f),linear-gradient(0deg,#d64582,#d64582),linear-gradient(111.56deg,#a70c72 -6.24%,#e50799 104.4%),#29edb2;
      border-radius: 4px;
      padding-top: 9px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #1A2824;
      &:hover {
        background: #f7b22a;
      }
      &:active {
        background: rgba(253, 168, 0, 1);
      }
    }
  }
  @include for-mobile {
    max-width: 55%;
  }
  @include for-phone {
    max-width: 100%;
    margin-left: 0;
    padding: 0 8px 8px;

    .item_btn{
      display: none;
    }
  }

  .title {
    margin: 0;
    text-align: left;
    align-items: flex-start;
    margin-bottom: 4px !important;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    @include for-phone {
      margin-top: 12px;
      font-size: 17px;
      line-height: 22px;
    }
  }

  .object_desc_item {
    flex-direction: column;
    row-gap: 2px;
    @include for-phone {
      row-gap: 4px;
      align-items: flex-start;
      flex-direction: row;
      justify-content: left;
    }
  }

  .object_desc_title {
    padding: 0;
    @include for-mobile {
      max-width: 70%;
      white-space: nowrap;
    }
    @include for-phone {
      max-width: none;
    }
  }

  .object_desc_value {
    padding: 0;
    @include for-phone {
      min-width: auto;
      margin-left: 3px;
    }
  }
}
.other_objects_swiper.swiper-wrapper{
  align-items: stretch;
}
.other_objects {
  background: #f8f8f8;
  padding: 32px 0 48px;

  h2 {
    margin: 0 auto 24px;
  }

  .swiper-container {
    .listing_widget_controll {
      .listing_widget_pagination {
        @include for-pad {
          display: block;
        }
      }
    }
  }

  .swiper-slide{
    height: unset;
  }

}


.other_objects_swiper.swiper-wrapper{
  margin-bottom: 20px;
}
.other_object {
  background-color: #fff;
  padding: 16px;
  height: 100%;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 5px 20px rgba(34, 36, 28, 0.1);
  border-radius: 4px;
  //width: 391px;
  //height: 412px;

  //height: 332px;
  .other_object_img {
    //height: 55%;
    height: 176px;
    margin: -16px -16px 0 -16px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  @include for-phone{
    padding: 4px;
    .other_object_img {
      margin: 8px 8px 0 8px;
    }
  }

  .title {
    margin-top: 12px;
    text-align: left;
    font-size: 17px;
    line-height: 22px;
    @include for-notdesc {
      align-items: flex-start;
    }
    @include for-phone {
      margin: 12px 12px 0;
    }
  }

  .restaurant_name {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 4px auto;
    @include for-phone {
      margin: 4px 12px;
    }

    a {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #848484;
    }
  }

  .object_meta_item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include for-small-desktop {
      flex-direction: column;
    }
    @include for-notdesc {
      flex-direction: column;
    }
    @include for-phone {
      margin: 0 12px 12px;
    }
  }

  .object_desc_item {
    flex-direction: column;

    .object_desc_title {
      padding: 0;
      @include for-phone {
        max-width: none;
      }
    }

    .object_desc_value {
      padding: 0;
      @include for-phone {
        min-width: auto;
        margin-left: 3px;
      }
    }

    @include for-phone {
      align-items: flex-start;
      //flex-direction: row;
      justify-content: left;
    }
  }
}

.rest_top_wrap {
  background-color: $clrBackground;
  margin-top: 31px;

  .content_block {
    display: flex;
    padding: 24px 0 32px;
    justify-content: left;
    @include for-phone {
      flex-direction: column;
    }
  }

  .object_meta {
    padding: 0;
    height: auto;
  }

  .object_meta_item {
    .object_meta_title {
      font-weight: bold;
    }
  }

  @include for-phone {
    margin-top: 5px;
    display: none;
  }
}

.rest_top_left {
  width: 33%;
  @include for-pad {
    width: 40%;
    .object_book_hidden {
      flex-wrap: wrap;
    }
  }
  @include for-phone {
    width: 100%;
    margin-bottom: 16px;
  }

  .object_meta {
    flex-direction: column;
    flex-wrap: nowrap;

    .object_meta_item:last-child {
      margin-top: 14px;
    }
  }
}


//.rest_inner{
//  display: flex;
//  flex-direction: row;
//  align-items: baseline;
//  justify-content: space-between;
//}


.rest_top_right {
  .object_meta:first-child {
    .object_meta_item:last-child {
      // margin-left: 24px;

      @include for-pad {
        margin-left: 0;
        // margin-top: 10px;
      }
      @include for-mobile {
        margin-left: 0;
        // margin-top: 10px;
      }
      @include for-phone {
        margin-left: 0;
        // margin-top: 10px;
      }
    }

    .object_meta_item:first-child {
      margin-left: 0;

      @include for-pad {
        margin-left: 0;
      }
      @include for-mobile {
        margin-left: 0;
      }
      @include for-phone {
        margin-left: 0;
      }
    }
  }

  .object_meta:last-child {
    // margin-top: 10px;
  }

  .object_meta_item {
    margin-bottom: 10px;

    &:last-child {
      margin-left: 24px;

      @include for-notdesc {
        margin-left: 0;
      }
    }

    .object_meta_value {
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
    }
  }




  .item_address {
    color: $clrBlue;
    border-bottom: 1px dashed $clrBlue;
    @include for-pad {
      border-bottom: none;
    }
    @include for-mobile {
      border-bottom: none;
      margin-left: 18px;
    }

    &:before {
      content: url(/upload/img/item_geo.svg);
      margin-right: 6px;
      margin-left: -18px;
    }
  }

  .item_metro {
    color: #1A2824;
    margin-top: 4px;
    @include for-pad {
      border-bottom: none;
    }
    @include for-mobile {
      border-bottom: none;
      margin-left: 18px;
    }

    &:before {
      content: url(/upload/img/item_metro.svg);
      margin-right: 6px;
      margin-left: -18px;
    }
  }

}

.rest_desc_wrap {
  padding: 32px 0 64px;
  @include for-phone {
    padding: 0;
  }

  .content_block {
    .object_meta._mobile {
      display: none;
      margin-top: -8px;
      margin-bottom: 16px;
      padding: 0;

      .object_meta_item:last-child {
        margin-top: 0;
      }

      @include for-phone {
        display: flex;
      }
    }
  }
}

.rest_desc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 8px;
  @include for-pad {
    justify-content: flex-start;
    .rest_desc_col {
      width: 50%;
    }
    .rest_desc_col:first-child {
      width: 100%;
    }
  }
  @include for-mobile {
    flex-direction: column;
    .rest_desc_col {
      width: 100%;
    }
  }
}

.rest_desc_col {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.rest_desc_title {
  font-weight: bold;
  &._mb{
    margin-bottom: -2px;
  }
}



.rest_desc_item.seo_text {
  margin-bottom: 8px;

  /*p {
    margin: 0;
  }*/

  .rest_menu {
    color: #1A2824;

    p {
      text-transform: lowercase;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      padding-right: 10px;

      em {
        text-transform: lowercase;
        font-style: normal;
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $clrGrey;
      }

      em:first-letter {
        text-transform: capitalize;
      }
    }

    p:first-letter {
      text-transform: capitalize;
    }

    .rest_menu_title {
      strong {
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
      }
    }

    @include for-mobile {
      tr:not(.rest_menu_title) td:last-child p {
        text-align: end;
      }
    }
  }
}

.rest_desc_value {
  &._check {
    margin-top: 6px;
    &:before {
      content: url(/upload/img/checkbox_pin.svg);
      width: 10px;
      height: 24px;
      margin-right: 6px;
    }
  }
}

.rest_rooms_wrap {
  background-color: $clrBackground;
  padding: 32px;
  @include for-small-desktop {
    padding: 32px 0;
  }
  @include for-notdesc {
    padding: 32px 0;
  }

  .same_objects {
    h2 {
      margin-top: 0;
    }
  }

  .same_object {
    background-color: #fff;
  }
}

.other_rests_wrap {
  background-color: #fff !important;

  &.listing_wrap {
    padding-top: 32px;
  }

  .listing_widget_arrow._prev {
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 48px;
    background: url(/upload/img/arrow_tr.svg) no-repeat;
    left: -58px;
  }

  .listing_widget_arrow._next {
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 24px;
    height: 48px;
    right: -58px;
    background: url(/upload/img/arrow_tr.svg) no-repeat;
  }
}

.item__review-yandex {
  max-width: 750px;
  margin: 40px auto;
}

.item__review-title {
  margin-bottom: 24px;
}


.title_bot {
  display: flex;
  justify-content: center;
  gap: 11px;
  align-items: center;
  margin-top: 12px;

  .item_pro_wrapper {
    position: static;
    width: 66px;
    height: 27px;
    display: flex;

    .item_pro {
      width: 18px;
    }

    .item_pro_text {
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  .item_rating {
    display: flex !important;
    img {
      width: 18px;
      height: 18px;
    }

    .item_rating-rate {
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
    }

    .item_rating-count {
      font-weight: 400;
      font-size: 17px;
      line-height: 25px;
    }
  }

  @include for-mobile{
    margin-bottom: 25px;
  }
  @include for-phone{
    margin-bottom: 16px;
  }
}

.map_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin: 32px 10px 20px;
}


.display_bottom{
  position: fixed;
  width: 100%;
  height: 72px;
  left: 0;
  bottom: -100px;
  background: #F8F8F8;
  z-index: 510;
  padding: 0 12px;
  transition: all .3s ease;

  @include for-phone{
    &._active{
      bottom: 0;
    }
  }

}

.listing_wrap.other_rests_wrap{
  .items_list.swiper-wrapper{
    padding: 0;
    column-gap: 0;
    row-gap: 0;
    .item.swiper-slide{
      //z-index: 100000000;
      //width: 389.3px !important;
    }
  }
}



.object_description{
  width: 50%;
  padding: 24px;
  border: 1px solid #dedede;

  @include for-pad {
    width: 100%;
    border: none;
    padding: 24px 12px;
  }

  @include for-mobile {
    width: 100%;
    border: none;
    padding: 24px 12px;
  }

  @include for-small-desktop {
    row-gap: 12px;
  }

  display: flex;
  flex-direction: column;
  row-gap: 16px;
  .object_description-item{
    display: flex;
    column-gap: 5px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }
  .object_description-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
    position: relative;
    flex-basis: calc( 50% - 5px );
    //display: flex;
    //column-gap: 4px;
    //flex-direction: row;
    //flex-wrap: nowrap;
    //align-items: last baseline;

    display: flex;
    align-items: last baseline;



    .text{
      padding: 1px 4px 1px 0;
      background: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 10;
    }

    .dots{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-image: -webkit-repeating-radial-gradient(center center, rgba(132, 132, 132, .9), rgba(132, 132, 132, .9) 1px, transparent 1px, transparent 100%);
      background-image: -moz-repeating-radial-gradient(center center, rgba(132, 132, 132, .9), rgba(132, 132, 132, .9) 1px, transparent 1px, transparent 100%);
      background-image: -ms-repeating-radial-gradient(center center, rgba(132, 132, 132, .9), rgba(132, 132, 132, .9) 1px, transparent 1px, transparent 100%);
      background-image: repeating-radial-gradient(center center, rgba(132, 132, 132, .9), rgba(132, 132, 132, .9) 1px, transparent 1px, transparent 100%);
      //-webkit-background-size: 3px 3px;
      //-moz-background-size: 3px 3px;
      background-size: 3px 3px;
      z-index: 9;
    }

    //.dots{
    //  flex-grow: 100;
    //  height: 1px;
    //  border-bottom: 1px dashed rgba(132, 132, 132, .9);
    //}
  }

  .object_description-description{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
    flex-basis: 50%;
    a {
      color:  #4A56BA;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-underline-offset: 6px;
      text-decoration-color: rgba(10,16,14,.3);
      cursor: pointer;
    }
  }

}

.rest_top_meta {
  background-color: $clrBackground;
  margin-top: 31px;

  .content_block {
    display: flex;
    padding: 24px 0 32px;
    justify-content: left;
    @include for-phone {
      flex-direction: column;
    }
  }

  @include for-phone {
    margin-top: 5px;
    display: none;
  }

  .prices_block {
    display: flex;
    flex-direction: row;
    column-gap: 24px;

    @include for-mobile {
      flex-direction: column;
      column-gap: 0px;
      row-gap: 4px;
      margin-bottom: 14px;
    }
  }

  .prices_block_title {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $clrGrey;
  }

  .with_banket_items {
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
  }

  .with_banket_item {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
  }

  .item_price {
    font-weight: 700;
  }

  .rest_top_row {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: nowrap;
    //align-items: baseline;
    //justify-content: center;
    //gap: 0 58px;
    display: flex;
    flex-direction: column;
    //width: 100%;
    width: 1135px;

    .rest_meta_item {
      //padding-right: 16px;
    }

    .rest_top_overline, .rest_top_underline {
      display: flex;
      justify-content: space-between;

      @include for-mobile {
        flex-direction: column;
      }
    }

    .rest_top_overline {
      padding-bottom: 16px;

      @include for-mobile {
        flex-basis: 50%;
        padding-bottom: 0px;
        padding-right: 16px;
      }
    }

    .rest_top_underline {
      border-top: 1px solid $clrLightGrey;
      padding-top: 16px;

      .right_block {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 14px;
      }

      @include for-mobile {
        flex-basis: 50%;
        border-top: none;
        border-left: 1px solid $clrLightGrey;
        padding-top: 0px;
        padding-left: 16px;
      }
    }

    @include for-notdesc{
      grid-template-columns: 1fr 1fr;
      gap: 10px 0;
      width: unset;
    }

    @include for-mobile {
      flex-direction: row;
    }
  }

  .rest_top_col.rest_top_col-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
    gap: 12px 71px;

    @include for-notdesc{
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .rest_top_col{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
  }

  .rest_meta_item{

    @include for-notdesc{
      &:nth-child(1){order: 1};
      &:nth-child(2){order: 2};
      &:nth-child(3){order: 7};
      &:nth-child(4){order: 3};
      &:nth-child(5){order: 4};
      &:nth-child(6){order: 5};
      &:nth-child(7){order: 5};
    }
  }

  .rest_meta_item-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
    margin-right: 12px;
  }

  .rest_meta_item-price, .rest_meta_item-phone{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1A2824;
    position: relative;
  }

  .object_fake_phone {
    border-bottom: 1px dashed #1A2824;
    cursor: pointer;

    @include for-mobile {
      white-space: nowrap;
    }
  }

  .object_real_phone {
    @include for-mobile {
      white-space: nowrap;
    }
  }

  .rest_meta_item-value{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
    max-width: 368px;

    @include for-phone {
      max-width: unset;
    }
  }

  .item_address{
    color: $clrBlue;
    border-bottom: 1px dashed $clrBlue;
    margin-bottom: 2px;
    position: relative;
    cursor: pointer;
    margin-left: 18px;

    &:before{
      content: url('/upload/img/item_geo.svg');
      margin-right: 6px;
      margin-left: -18px;
    }
  }

  .item_metro {
    margin-left: 18px;

    &:before{
      content: url('/upload/img/item_metro.svg');
      margin-right: 2px;
      margin-left: -18px;
    }
  }

  .object_book_hidden_button{
    display: inline;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3067f3;
    border-bottom: 1px dashed #3067f3;
  }

  .rest_meta_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 48px 11px;
    height: 40px;
    background: linear-gradient(0deg, #FFC24A, #FFC24A), linear-gradient(0deg, #B1C86F, #B1C86F), linear-gradient(0deg, #D64582, #D64582), linear-gradient(97.87deg, #A70C72 -6.24%, #E50799 104.4%), #29EDB2;
    border-radius: 4px;
    //margin-top: 26px;
  }

  .rest_meta_item._mobile{
    display: none;
    .rest_meta_btn{
      margin-top: 0;
    }
    @include for-notdesc{
      display: block;
    }
  }

  .rest_meta_item._desc{
    display: block;
    @include for-notdesc{
      display: none;
    }
  }

}

.rest_top_meta._mobile{
  display: none;

  @include for-phone{
    display: flex;
    flex-direction: column;
    padding: 24px 12px 16px;
    margin: 0 -12px 24px;

    .object_meta{
      padding: 0;
    }

    .item_btn {
      margin-top: 8px;
    }

    .rest_top_row{
      display: flex;
      flex-direction: column;
      margin-top: 16px;
    }
    .rest_meta_item:last-child{
      .rest_meta_item-value{
        margin-left: 18px;
      }
      .item_metro{
        margin-top: 6px;
      }
    }
  }
}


.room_objects_wrap{
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-top: 24px;

  @include for-mobile{
    padding-top: 16px;
    row-gap: 12px;
  }

  @include for-phone{
    row-gap: 16px;
  }
}

.room_object{
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 24px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(34, 36, 28, 0.1);
  border-radius: 4px;
  align-items: stretch;

  .room_object_desc-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #4A56BA;
    margin-bottom: 4px;

    a:hover{
      color: #4155FF;
    }
  }

  @include for-phone{
    flex-direction: column;
    row-gap: 12px;
    padding: 12px;

    .room_object_desc-title{
      font-size: 17px;
      line-height: 22px;
    }
  }
}

.room_object_img{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 8px;
}

.room_object_img_item{
  width: 248px;
  min-height: 242px;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
  }

  @include for-notdesc{
    width: 248px;
    min-height: 166px;
    &:nth-child(2), &:nth-child(3){
      display: none;
    }
  }
  @include for-pad{
    &:nth-child(2){
      display: none;
    }
    &:nth-child(3){
      display: block;
    }
  }

  @include for-phone{
    width: 100%;
    height: 208px;
  }
}

.room_object-meta{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  //justify-content: space-between;
  gap: 2px 26px;
  @include for-notdesc{
    flex-direction: row;
  }

  .room_desc_title{
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
    white-space: nowrap;
  }
  .room_desc_value{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
  }

  @include for-phone{
    gap: 8px 26px;
    .room_desc_item{
      display: flex;
      //flex-direction: row;
      flex-direction: column;
      column-gap: 4px;
    }

    .room_desc_item_price {
      flex-direction: column;
    }

    .room_desc_title,.room_desc_value{
      line-height: 18px;
    }
  }

}
.room_object_desc{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .item_btn{
    display: block;
    max-width: 195px;
    min-width: 150px;
    .item_btn-book{
      width: 100%;
      height: 40px;
      background: linear-gradient(0deg,#ffc24a,#ffc24a),linear-gradient(0deg,#b1c86f,#b1c86f),linear-gradient(0deg,#d64582,#d64582),linear-gradient(111.56deg,#a70c72 -6.24%,#e50799 104.4%),#29edb2;
      border-radius: 4px;
      padding-top: 9px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #1A2824;
      &:hover {
        background: #f7b22a;
      }
      &:active {
        background: rgba(253, 168, 0, 1);
      }
    }
  }

  @include for-phone{
    .item_btn{
      display: none;
    }
  }
}

.room_price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 4px;

  .room_price_banket_info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;

    @include for-mobile {
      //flex-direction: column;
    }
  }

  .room_price_subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $clrGrey;
  }

  .room_price_block {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1A2824;
  }

  .room_price_text {
    font-weight: 700;
  }
}

.rest_desc_value {
  & > p strong {
    font-size: 24px;
    line-height: 32px;

    @include for-mobile {
      font-size: 20px;
      line-height: 24px;
    }
  }

  table {
    
  }
}