[data-page-type="listing"] {
	.same_blogs_wrap {
		background: #f8f8f8;

		h2 {
			padding-top: 32px;
			margin-bottom: 30px;
		}

		.content_block {
			padding-bottom: 48px;
		}

		.listing_widget_arrow {
			top: calc(50% - 24px);
			transform: translateY(-50%);
			background: url(/upload/img/arrow_tr.svg) no-repeat;
		}

		.listing_widget_arrow._next {
			transform: translateY(-50%) rotate(180deg);
		}

		.blog_item {
			overflow: hidden;
			border: 1px solid #dedede;
			box-shadow: 0 5px 20px rgba(34, 36, 28, 0.1);
			border-radius: 4px;
		}

		.listing_widget_controll {
			margin-top: 10px;
		}

		.listing_widget_pagination {
			display: flex;
		}
	}
}
.items_list_listing {
	padding: 24px 0;
	@include for-mobile {
		padding: 16px;
	}
	@include for-phone {
		padding: 24px 0;
	}
	.items_list {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		column-gap: 16px;
		row-gap: 16px;
		em {
			background: rgba(122, 207, 207, 0.35);
			border-radius: 3px;
			padding: 0 3px;
		}

		@include for-mobile {
			row-gap: 12px;
		}
		@include for-phone {
			row-gap: 16px;
		}
	}

	.item {
		width: calc((100% - 32px) / 3);
		//margin: 15px 0 15px 40px;
		height: auto;
		display: flex;
		flex-direction: column;
		transition: box-shadow 0.2s ease;
		background: #ffffff;
		border: 1px solid #dedede;
		box-shadow: 0px 5px 20px rgba(34, 36, 28, 0.1);
		border-radius: 4px;

		@include for-notdesc {
			width: calc((100% - 16px) / 2);
		}

		@include for-mobile {
			width: 100%;
		}
		//&:nth-child(4n + 1) {
		//	margin-left: 0;
		//}
		&.__hide {
			display: none;
		}

		.item_present_wrapper {
			position: absolute;
			display: flex;
			background: #fff;
			justify-content: space-between;
			padding: 0 5px;
			align-items: center;
			border-radius: 3px;
			right: 8px;
			top: 8px;
			z-index: 2;
			gap: 3px;
		}

		.item_present {
			//position: absolute;
			//top: 8px;
			//right: 8px;
			width: 15px;
		}

		.item_present_text {
			font-size: 11px;
			font-weight: 400;
			color: #1a2824;
			white-space: nowrap;
		}

		&.other {
			width: calc((100% / 5) - 20px);
			margin: 10px;

			.item_info {
				padding: 10px 10px 25px;
				height: calc(100% - 238px);
			}

			.item_img {
				height: 238px;
			}
		}

		&:hover {
			box-shadow: $shadowCardHover;
		}

		.item_img {
			width: 100%;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 5px 5px 0px 0px;
			height: 176px;
			background-color: #c5c5c5;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.item_link {
			display: block;
			//margin-bottom: 14px;
		}
		.item_info {
			height: calc(100% - 176px);
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			padding: 12px 16px 0px;

			@media (max-width: 768px) {
				padding: 12px 16px 0px;
			}
			@include for-mobile {
				//padding: 15px 10px 20px;
			}

			.item_top {
				min-height: 66px;
				a {
					.item_name {
						font-weight: 700;
						font-size: 20px;
						line-height: 24px;
						color: #1a2824;
						margin-bottom: 12px;
						text-decoration: underline;
						text-decoration-style: solid;
						text-decoration-thickness: 1px;
						text-underline-offset: 5px;
						text-decoration-color: rgba(26, 40, 36, 0.3);
					}
				}

				.item_parent_name {
					font-weight: 500;
					font-size: 11px;
					line-height: 20px;
					color: $clrGrey;
					margin-top: 0;
					padding-left: 13px;
					&:before {
						content: url(/upload/img/metro_icon.svg);
						margin-right: 4px;
						margin-left: -13px;
					}
				}

				.item_meta_items {
					display: flex;
					flex-direction: column;
					&:last-child {
						width: 43%;
						@include for-mobile {
							width: 50%;
						}
					}
					&:first-child {
						width: 56%;
						@include for-mobile {
							width: 50%;
						}
					}
				}
				.item_meta_item {
					padding: 0px 30px 0px 0px;
					margin: 10px 0px 0px;
					//width: 50%;
					font-weight: 500;
					font-size: 12px;
					line-height: 15px;
					margin: 0;
					padding: 0;
					//min-width: 40%;
					//max-width: 55%;
					@include for-mobile {
						//padding: 0px;
						//width: 100%;
					}
				}

				.item_meta-item_address {
					font-weight: 400;
					font-size: 13px;
					line-height: 20px;
					color: #1a2824;
					cursor: pointer;
					text-decoration: underline;
					text-decoration-style: dashed;
					text-decoration-thickness: 1px;
					text-underline-offset: 4px;
					text-decoration-color: rgba(26, 40, 36, 0.3);
				}
				.item_meta-item {
					display: flex;
					flex-wrap: nowrap;
					flex-direction: row;
					align-items: flex-start;
					row-gap: 4px;
					font-weight: 400;
					font-size: 13px;
					line-height: 20px;
					color: #1a2824;
					margin-top: 2px;
					img {
						margin-right: 4.37px;
					}
				}

				.item_meta-item__metro-link {
					font-weight: 400;
					font-size: 13px;
					line-height: 20px;
					color: #1a2824;
					cursor: pointer;
					text-decoration: underline;
					text-decoration-style: dashed;
					text-decoration-thickness: 1px;
					text-underline-offset: 4px;
					text-decoration-color: rgba(26, 40, 36, 0.3);
					margin-right: 5px;
				}

				.item_rating {
					//display: none;
				}
				@include for-phone {
					.item_rating {
						display: flex;
						margin-top: 8px;
						margin-bottom: 6px;
					}
				}
			}
			.item_bot {
				//position: absolute;
				//bottom: 12px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-between;
				margin-top: 12px;
				background-color: $clrBackground;
				width: calc(100% + 32px);
				margin-left: -16px;
				padding: 8px 16px 16px;
				//min-height: 132px;

				.item_price {
					white-space: nowrap;
					font-weight: 700;
					font-size: 14px;
					line-height: 24px;
					color: #1a2824;
					.item_meta_label {
						color: $clrTextInactive;
					}
				}

				.item_bot_wrap {
					width: 100%;
				}

				.item_bot_title {
					display: flex;
					align-items: center;
					font-style: normal;
					font-weight: 700;
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 4px;

					img {
						margin: -6px 6px 0px -2px;
						width: 12px;
					}
				}

				.item_bot_prices {
					display: flex;
					flex-direction: column;
					row-gap: 2px;

					.item_bot_prices_title {
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: $clrGrey;
						margin-bottom: -2px;
					}

					.with_banket_items {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						gap: 8px 16px;
						align-items: center;
					}

					.with_banket_item {
						font-weight: 400;
						font-size: 15px;
						line-height: 24px;
						color: $clrBlack;
					}

					.item_price {
						font-weight: 700;
						font-size: 15px;
						line-height: 24px;
						color: #1a2824;
					}
				}

				@include for-phone {
					flex-direction: column;
					align-items: flex-start;
				}
			}

			.object_book_hidden_button {
				display: none;
				position: absolute;
				bottom: 10px;
				right: 12px;
				color: #1a2824;
				border-radius: 4px;
				font-size: 14px;
				line-height: 27px;
				width: 107px;
				height: 28px;
				padding: 0px 15px;
				font-weight: 500;

				@include for-mobile {
					display: inline-block;
					right: calc(50% - 107px);
				}

				// @media (max-width: 767px) {
				// 	right: calc(50% - 107px);
				// }
			}

			.popup_phone_wrap {
				top: calc(100% - 40px);
				left: 0;
				position: absolute;

				&._active {
					display: block;
				}
			}
		}

		.item_additional-premium {
			display: flex;
			align-items: center;
			position: absolute;
			z-index: 5;
			top: 8px;
			left: 12px;
			width: 52px;
			height: 20px;
			background-color: #fff;
			background-image: url(/upload/img/pro_star.svg);
			background-repeat: no-repeat;
			background-position: 3px 1px;
			background-size: 14px 14px;
			border: 1px solid #ffc368;
			border-radius: 2px;
			font-family: GothamPro, Montserrat, sans-serif;
			font-weight: 700;
			font-size: 10px;
			line-height: 14px;
			text-transform: uppercase;
			padding-left: 21px;
		}
	}

	.item.pro {
		border: 1px solid #ffc24a;
	}
}
div[data-append-items] {
	display: none;
	font-size: 14px;
	line-height: 20px;
	padding: 15px;
	border: 2px solid #ffc24a;
	border-radius: 6px;
	text-align: center;
	margin: 16px 30px;
	cursor: pointer;

	&:hover {
		border-color: $clrButton;
	}
	&:active {
		border-color: $clrButtonPressed;
	}
	@include for-phone {
		display: block;
	}
}

.listing_sort {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	margin-top: 32px;
	.listing_sort-title {
		font-weight: 400;
		font-size: 15px;
		line-height: 24px;
		color: #1a2824;
	}
	.listing_sort-item {
		font-weight: 400;
		font-size: 15px;
		line-height: 24px;
		color: #3067f3;
		border-bottom: 1px dashed rgba(48, 103, 243, 0.3);
		cursor: pointer;
		position: relative;

		&._active {
			font-weight: 700;
			font-size: 15px;
			line-height: 24px;
			color: #1a2824;
			border: none;
			cursor: default;
			transition: all 0.3s ease;
		}

		&:hover {
			border-color: #3067f3;
		}

		&[data-type="sort_asc"]:before {
			content: "возрастанию цены";
		}
		&[data-type="sort_desc"]:before {
			content: "убыванию цены";
		}

		@include for-phone {
			margin-right: 20px;
			&:before {
				content: "цене" !important;
			}

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: -16px;
				width: 12px;
				height: 13px;
				background: url("/upload/img/icon_sort_blue.svg") no-repeat 100%;
			}

			&[data-type="sort_asc"]:after {
				transform: translateY(-27%) rotateX(180deg);
			}
			&[data-type="sort_desc"]:after {
				transform: translateY(-50%);
			}

			&._active:after {
				background: url("/upload/img/icon_sort_black.svg") no-repeat 100%;
			}
		}
	}
}

.item_rating {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	img {
		margin-right: 3px;
	}
	.item_rating-rate {
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		color: #1a2824;
		margin-right: 6px;
	}
	.item_rating-count {
		white-space: nowrap;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #848484;
	}
	@include for-phone {
		display: none;
	}
}
.item_pro_wrapper {
	position: absolute;
	width: 52px;
	height: 20px;
	display: flex;
	background: #ffffff;
	border-radius: 2px;
	border: 1px solid #ffc24a;
	justify-content: flex-start;
	padding: 1px 5px 0;
	gap: 3px;
	align-items: center;
	left: 12px;
	top: 8px;
	z-index: 2;
	.item_pro {
		width: 12px;
	}

	.item_pro_text {
		font-weight: 700;
		font-size: 11px;
		line-height: 20px;
		text-transform: uppercase;
	}
}

.item_btn {
	display: none;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
	gap: 8px;
	width: 100%;
	a,
	button {
		width: 100%;
		height: 40px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #1a2824;
		border-radius: 4px;
		text-align: center;
	}
	.item_btn-phone {
		position: relative;
		padding: 9px 0 11px 20px;
		background: linear-gradient(0deg, #ffc24a, #ffc24a), linear-gradient(0deg, #b1c86f, #b1c86f),
			linear-gradient(0deg, #d64582, #d64582), linear-gradient(97.87deg, #a70c72 -6.24%, #e50799 104.4%), #29edb2;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: calc(50% - 46px);
			width: 14px;
			height: 14px;
			background: url("/upload/img/item_phone.svg") no-repeat;
			background-size: 100%;
		}
	}
	.item_btn-book {
		padding: 9px 0 13px;
		background: transparent;
		border: 1px solid #ffc24a;
		cursor: pointer;
	}

	@include for-phone {
		display: flex;
	}
}
